/* Provide sufficient contrast against white background */
.App {
}

.Footer {
    text-align: center;
}

a {
    color: #0366d6;
}

a:hover {
    color: #fff;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
